[Unit]
Description=Load iptables on startup
ConditionFileIsExecutable=/etc/iptables-startup.sh
After=network-online.target

[Service]
Type=forking
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /etc/iptables-startup.sh
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
