[Unit]
DefaultDependencies=no
After=network-online.target
ConditionPathExists=/etc/iptables/

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore /etc/iptables/base.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
