[Unit]
Description=Loads iptables on startup
ConditionFileIsExecutable=/etc/iptables/iptables-startup.sh
After=network-online.target

[Service]
Type=forking
ExecStart=/bin/bash /etc/iptables/iptables-startup.sh
start TimeoutSec=0
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
